*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0px;  
}
.navbar ul li{
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar ul li a{
    padding: 8px 25px;
    color: maroon;
    text-decoration: none;
    transition: all .5s ease;
    
}
.navbar ul li a:hover{
    background-color: white;
    color: purple;
    box-shadow: 0 0 10px purple;
    border-radius: 15px;

}
#home::before{
    top: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: .6;
    position: absolute;
}
#home{
    display: flex;
    flex-direction: column;
    background-image: url(./Images/Denis.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-color: black;
     
}