*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.navbar img{
    width: 5%;
    margin-right: 45%;
}
.navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0px;  
}
.navbar ul li{
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar ul li a{
    padding: 8px 25px;
    color: maroon;
    text-decoration: none;
    transition: all .5s ease;
    
}
.navbar ul li a:hover{
    background-color: white;
    color: purple;
    box-shadow: 0 0 10px purple;
    border-radius: 15px;
}
html{
    scroll-behavior: smooth;
}
#home::before{
    top: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: .6;
    position: absolute;
}
#home{
    display: flex;
    flex-direction: column;
    background-image: url(./Images/Denis.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    background-color: rgb(136, 136, 218);
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    color: maroon;
     
}
#home img{
    float: left;
}
.main{
    position: absolute;
    align-items: center;
    flex-direction: column;
    right: 18%;
    display: flex;
}
.headings{
    margin: 40px 0px;
    text-align: center;
    font-size: 2.5rem;
}
.headings span{
    color: white;
    margin-top: 10px;
}
.btn{
    width: 15vw;
    background-color: white;
    padding: 15px 15px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    color: maroon;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: purple;
    font-weight: bold;
    text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple;
}
#contact{
    display: flex;
    background-color:  rgb(136, 136, 218);
    color: brown;
    flex-direction: column;
    padding: 20px;

}
.form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    border: solid brown 2px;
}
.input{
    padding: 15px;
    margin: 15px;
    width: 30%;
    border: white;
    border-radius: 15px;

}
#msg{
    width: 40%;
    border: white;
    border-radius: 10px;
    margin: 15px;
}
#send{
    cursor: pointer;
    padding: 15px;
    width: 15%;
    border-radius: 15px;
    border: white;
    color: brown;
    font-weight: bolder;
    transition: .6s ease;

}
#send:hover{
    color: white;
    box-shadow: brown;
    text-shadow: 0 0 5px purple, 0 0 10px purple, 0 0 15px purple;
    background-color: brown;
}
.Langauges{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
.Langauges img{
    width: 10vw;
    height: 20vh;
    justify-content: space-between;

}
.Icons{
    text-align: center;
    font-size: 30px;
    justify-content: space-evenly;
    cursor: pointer;
    color: white;
    display: flex;
    border-radius: 15px;
    padding: 20px;
}
.Icons:hover{
    color: brown;
}