.Float img{
    width: 30%;
    height: 30vh;
    margin-left: 20%;


}
.Float {
    flex-direction: column; 
}
.Float p{
    width: 75%;
    line-height: 1;
}
.Know-Me h1{
    margin-right: 25%;
}
#Portfolio h1{
    margin-right: 22%;
    margin-top: 40%;
}
.Projects-pics{
    /* display: flex; */
    flex-direction: column;
    column-count: 2;
    width: 75%;
    margin-top: 3%;
}
.headings{
    margin-right: 20%;
    margin-top: 3%;
}
.Denis{
    flex-direction: column;
}
.box{
    width: 75%;
    margin-top: 3%;
}